<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <h4 class="nav-link">Welcome {{user.first_name}}</h4>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/success">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout!</a>
    </li>
  </ul>
  <div class="container pt-3">

    <section class="text-danger text-center">
      {% if messages %}
      <ul class="list-unstyled d-inline-block">
        {% for message in messages %}
        <li class="text-left">
          {{ message }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </section>

    <div class="card shadow">
      <div class="card-header">
        <h3 class="text-center">
          Add a dog
        </h3>
      </div>
      <div class="card-body">
        <form action="/dog/{{dog.id}}/update" method="POST">
          {% csrf_token %}

          <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="name" value={{dog.name}}>
          </div>

          <div class="form-group">
            <label>Age</label>
            <input class="form-control" name="age" type="number" value="{{dog.age}}">
          </div>

          <div class="form-group">
            <label>Weight (lbs)</label>
            <input class="form-control" name="weight" type="number" value="{{dog.weight}}">
          </div>
          
          <div class="form-group">
            <label>Bio</label>
            <textarea class="form-control" name="bio" placeholder="Bio">{{dog.bio}}</textarea>
          </div>
          <div class="form-group">
            <label>Profile Pic URL</label>
            <textarea class="form-control" name="profile_pic" placeholder="URL">{{dog.profile_pic_url}}</textarea>
          </div>

          <div class="form-group">
            <label>Birthday</label>
            <input id="birthday" class="form-control" name="bday" type="date" value='{{dog.birthday|date:"Y-m-d"}}'>
          </div>
          <button class="btn btn-info" type="submit">Add</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>