<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {%for t in all_t%}
        <li>{{t.name}}</li>
        {%endfor%}
    </ul>

    <form action="/add_teacher" method="post">
        {% csrf_token %}
        <label for="">Name:
            <input type="text" name="name"></label>
        <label for="">Subject:
            <input type="text" name="subject"></label>
        <button>Send</button>
    </form>
</body>
</html>